//Common
$bgColor: #fdfdfe;
$bgColorWindow: #ecedef;
$button_text_color: #346297;
$button_text_primary_color: #FFFFFF;
$button_bg_color: #e5ebf1;
$button_bg_primary_color: #447bba;
$block_shadow: rgba(39, 54, 61, 0.62);
$textSecondary: #969a9f;
$button_secondary_basic: #346297;
$button_secondary_common: #818c99;
$color_text_name: #2A5885;
$color_text_subhead: #626D7A;

//Profile
$border_wall_module: rgba(98,109,122,0.2);

