@import "../../Common/Styles/colors.module";

.header {
  background-color: $bgColor;
  height: 49px;
  width: 100%;
  display: flex;
  align-items: center;

.logoContainer{
  display: flex;
  align-items: center;

  img {
    width: 30px;
  }

  .nameLogo {
    font-family: Geologica, sans-serif;
    margin: 0;
    font-weight: 600;
  }
}

}
