@import "../../../../../../Common/Styles/colors.module";

.wallModuleContainer {
  width: 550px;
  background-color: $bgColor;
  border-radius: 12px;
  box-shadow: 0 0 1px $block_shadow;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;


  .wallModuleHeader {
    display: flex;
    height: 64px;
    width: 100%;
    border-bottom: 1px solid $border_wall_module;
    margin: 0 20px;

    .wallHeaderMenu {
      padding: 18px 20px;
      display: flex;
      align-items: center;

      .wallTabAll {
        margin-right: 6px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding: 4px 8px;
      }

      .wallAllEntries {
        color: $button_secondary_basic;
        //border: 1px solid #dadada;
        border-radius: 8px;
        box-shadow: 0 0 1px $block_shadow;
      }

      .wallMyNotes {
        color: $button_secondary_common;
      }
    }

    .wallSearchEngine {
    }
  }


  .wallModulePosts {
    color: $textSecondary;
    min-height: 88px;
    margin-bottom: 15px;
    padding: 36px 20px;
    vertical-align: middle;
    line-height: 88px;
  }
}