@import "./Common/Styles/colors.module";

.appWrapper {
  display: grid;
  background-color: $bgColorWindow;
  height: 100vh;
  padding-bottom: 20px;

  grid-template-rows: 49px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
        "h h"
        "n c";
}

.header {
  grid-area: h;
}



.content {
  grid-area: c;
  //background-color: beige;
  padding-top: 15px;
  padding-right: 15px;
  margin-right: 37px;
}