.appWrapper {
  display: grid;
  background-color: #ecedef;
  height: 100vh;

  grid-template-rows: 49px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
        "h h"
        "n c";
}

.header {
  grid-area: h;
}

.nav {
  margin-top: 16px;
  padding-left: 15px;
  margin-left: 37px;
  grid-area: n;
  //background-color: gray;
  //border: 1px solid gray;
  font-size: 12px;
  display: flex;
  flex-direction: column;

  .LeftMenuItem {
    height: 30px;
    display: flex;
    align-items: center;
    //justify-content: center;
    //border: 1px solid gainsboro;

    .LeftMenuItem_Icon {
      margin-right: 10px;
      color: #447bb9;
    }

    .LeftMenuItem_Label {
      width: auto;
    }
  }
}

.content {
  grid-area: c;
  //background-color: beige;
  padding-right: 15px;
  margin-right: 37px;
}